.acetoneiso
.adobe
.appdata
.argouml
.avidemux
.bash_history
.bash_logout
.bash_profile
.bashrc
.bcast
.bzr.log
.cache
.com.zerog.registry.xml
.config
.conky
.conkycolors
.conkyrc
.cordova
.dasher
.Data
Crow
.dbus
.dia
.dockbarx
.dosbox
.dropbox
.dropbox-dist
.dwarffortress
.emerald
.epsxe
.esd_auth
.factorio
.fltk
.fontconfig
.fonts
.Foxit
.freesynd
.gconf
.gimp-2.8
.git
.gitconfig
.gitmodules
.gnome
.gnupg
.gradle
.gstreamer-0.10
.ICEauthority
.InstallAnywhere
.ionic
.ipython
.java
.lesshst
.links
.local
.macromedia
.matplotlib
.megarc
.minecraft
.mozilla
.mupen64plus
.mysql_history
.ncmpcpp
.NERDTreeBookmarks
.npm
.odbc.ini
.odbcinst.ini.asdf
.pcsxr
.pki
.plugman
.pSX
.pulse-cookie
.python-eggs
.python_history
.screenlayout
.sincedb_4f6af24aa7385011842619d9c10531a0
.Skype
.sqlite_history
.ssh
.steam
.steampath
.steampid
.TelegramDesktop
.tetris
.tetris_stat
.themes
.thumbnails
.tuxtype
.vagrant.d
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.vim
.vim-fuf-data
.viminfo
.vim_mru_files
.vimrc
.vim_runtime
.wget-hsts
.wicd
.Xauthority
.xfce4
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xgngeo
.xinitrc
.xscreensaver
.xsession
.yowsup
.zsnes
.zsnes-1-42
Descargas
Desktop
Documentos
Downloads
Dropbox
FoxitSoftware
Imagenes
MEGA
videos
Videos
vim
VirtualBox
VMs
.Data\ Crow/
VirtualBox\ VMs/
.subversion
