[Desktop Entry]
Version=1.0
Type=Application
Name=change_wallpaper
Comment=cambair el wallpapar
Exec=export DISPLAY=:0; /usr/bin/xfdesktop --reload
Icon=eog1
Path=
Terminal=false
StartupNotify=false
