[hitman.dlc]
row=3
col=0

[practicas]
row=1
col=1

[change_wallpaper_xfce.sh]
row=2
col=1

[cotizaciones_elvia.dia]
row=3
col=1

[diagrama de clases.dia]
row=4
col=1

[media]
row=4
col=0

[Volumen de 86 GB]
row=2
col=0

[Papelera]
row=5
col=0

