[AoW.exe.backup]
row=2
col=0

[notas]
row=1
col=0

[Android SDK]
row=3
col=0

[testdisk-6.14-WIP]
row=6
col=0

[radiotonica.pls]
row=0
col=0

[GUI 2 material para examen 1]
row=0
col=1

[Diapositivas Profesor Rojo]
row=5
col=1

[diagrama de clases.dia~]
row=5
col=0

[cotizaciones_elvia.dia]
row=0
col=2

[media]
row=1
col=2

[diagrama de clases.dia]
row=6
col=1

[change_wallpaper_xfce.sh]
row=2
col=2

[Volumen de 86 GB]
row=4
col=0

[Papelera]
row=7
col=0

